* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.For-Main1 {
    width: 100%;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px 0px 10px 0px;
}

.For-Main1-1 {
    float: left;
    padding-left: 20px;
}

.For-Main1-2 {
    color: white;
    padding-right: 15px;
    float: left;
    vertical-align: middle;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
}

.For-Main1-3 {
    float: left;
    padding-top: 14px;
}

.For-Main1-3 ul {
    list-style: none;
}

.For-Main1-3 ul li {
    display: inline;
}

.For-Main1-3 ul li a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.For-Main1-3 a:hover {
    color: #02718c;
}

.For-Main1-4 {
    float: right;
    padding-top: 15px;

}





.btn {
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px white solid;
    padding: 8px;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #02718c;

}

.For-Main2 {
    background-color: #02718c;
    height: 600px;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.For-Main2-1 {
    font-size: 100px;
    padding: 50px;
    line-height: 5.5rem;
    border: 5px white solid;
}

.For-Main3 {
    text-align: center;
    display: flex;
    color: white;
    height: 90%;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.For-Main3-1 {
    border-radius: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 500px;
    height: auto;
    float: left;
    margin: 0px 10px;
    background-color: black;

}



.title {
    font-size: 2rem;
    color: white;


}



.title_part {
    font-size: 18px;
    color: white !important;
    padding: 0px 15px 0px 15px;
}

.button1 {
    width: 10%;
    background-color: #02718c;
    color: white;
    font-size: 20px;
    margin: auto;
    display: inline;
    border-radius: 25px;
    padding: 10px 55px;
    text-decoration: none;
}

.button1:hover {
    background-color: #0d8ba0;
    color: white;
    padding: 12px 57px;
    font-size: 21px;
}

.For-Main4 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    background-color: white;
    padding: 6px;
    border-radius: 3px;
}

.line {
    width: 25px;
    background-color: black;
    height: 2px;
    margin: 6px;
}

@media only screen and (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
    }


    .For-Main1-2 {
        width: 35%;
    }

    .burger {
        display: block;
    }

    .btn1 {
        text-align: center;
    }

    .For-Main3 {
        flex-direction: column;
    }

    .For-Main3-1 {
        width: 95%;
        margin: 10px 10px;
    }

    .For-Main1-3 {
        width: 100%;
        float: left;
        display: none;
        padding-left: 10px;
        background-color: black;
    }

    .For-Main1-3 ul li a {
        display: block;
    }

    .padd {
        padding-top: 25px;
    }

    .search {
        width: 75%;
    }


    .For-Main1-4 {
        width: 100%;
        float: left;
        display: none;
        background-color: black;
        padding: 25px 0px 20px 10px;
    }

}